@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background: #030303;
    color: #fff;
}

/* WindowLoad Animation */
.container-animate {
    display: none;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease-in 200ms;
}
.container-animate img {
    height: 50px;
    width: 220px;
    animation: slideIn 3s cubic-bezier(0, 0.27, 0, 0.99) 0ms 1 normal forwards;
}
@keyframes slideIn {
    0% {
        display: none;
        opacity: 0;
        filter: blur(2px);
        transform: translateY(1000%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.disappear {
    animation: fadeOut 500ms cubic-bezier(0, 0.27, 0, 0.99) 0ms 1 normal forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
.appear {
    animation: fadeIn 4s cubic-bezier(0, 0.27, 0, 0.99) 0ms 1 normal forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}
header > nav {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    background-image: url(./resources/nav-background.jpg);
    background-size: contain;
}
#logo {
    margin-left: 10px;
}
header > nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    /* gap: 200px; */
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    margin: 0px 40px;
}
ul > li > a{
    text-decoration: none;
    color: #b4bec2;
    transition: 200ms all ease-in;
    position: relative;
    margin-left: 50px;
}
ul > li > a:hover {
    color: #F1F4F1;
}
ul > li > a:focus {
    color: #00D2FF;
}
@media screen and (max-width: 700px) {
    header > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 25px;
        gap: 25px;
    }
    header > nav > ul {
        padding: 0px 40px;
        width: 100%;
        margin: 0;
        display: flex;
        font-size: 20px;
        color: #fff;
        justify-content: space-between;

    }
    ul > li > a {
        margin: 0;
    }
}


section {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

#sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
}
.left-box {
    width: 600px;   
    display: flex;
    flex-direction: column;
}
.left-box .social-links {
    margin-top: 10px;
    font-size: 22px;
    
}
.social-links a{
    margin-right: 15px;
    transition: ease-in-out 200ms;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.social-links a:hover {
    color: #00D2FF;
}
.left-box > h1 {
    font-size:35px;
    font-weight: 600;
    margin-bottom: 5px;
}
.right-box {
    width: 600px;
}
#intro {
    width: 800px;
    border-radius: 15px;
    box-shadow:10px 10px 10px 10px #030303 ;
}

.visibleOnMobile {
    display: none;
}
@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        flex-direction: column-reverse;
    }
    .right-box {
        margin-top: 60px;
        display: block;
        width: 500;
        height: 500;
        overflow: hidden;
    }
    .right-box > #intro {
        width: 100%;
        object-fit: fill;
        object-position: center;
    }
    .left-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 10px;
        justify-content: center;
        text-align: center;
    }
    .left-box > h1 {
        font-size: 30px;
    }
    .visibleOnMobile {
        display: block;
        font-size: 16px;
        margin-left: 15px;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 65px;
    }
    .social-links > a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .social-links > a > i {
        scale: 1.5;
    }


}




#sec-2, #sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 2 */
#sec-2 {
    position: relative;
    /* background-color: #272525; */
}
#sec-2 .slider .card {
    width: 400px;
    height: 500px;
}
.card img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}
.slider{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(20%, -50%);
    transition: 1s;
}
.show-animate .slider {
    transform: translate(-50%, -50%);
}
@media screen and (max-width:700px) {
    #sec-2 {
        position: relative;
    }
    .slider {
        display: flex;
        flex-direction: column;
        position: inherit;
        transform: translate(80%, 0%);
        top: 0;
        left: 0;
        gap: 0px;
    }
    .slider .card {
        margin-bottom: -80px;
    }
    .slider .card:nth-child(2) {
        margin-bottom: -170px;
    }
    .slider .card:nth-child(3) {
        margin-bottom: -175px;
    }
    .show-animate .slider {
        transform: translate(0%, 0%);
    }
}




.slider-left {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-120%, -50%);
    transition: 1s;
}
.slider-left .card {
    width: 400px;
    height: 500px;
}
.slider-left .card img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}
.show-animate .slider-left {
    transform: translate(-50%, -50%);
}

@media screen and (max-width:700px) {
    #sec-2 {
        position: relative;
    }
    .slider-left {
        display: flex;
        flex-direction: column;
        position: inherit;
        transform: translate(-80%, 0%);
        top: 0;
        left: 0;
        gap: 0px;
    }
    .slider-left .card {
        margin-bottom: -80px;
    }
    .slider-left .card:nth-child(2) {
        margin-bottom: -95px;
    }
    .slider-left .card:nth-child(3) {
        margin-bottom: -150px;
    }
    .show-animate .slider-left {
        transform: translate(0%, 0%);
    }
}

#sec-3 .container-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

